---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: local-cluster
  labels:
    cluster.open-cluster-management.io/clusterset: hub-of-hubs
    cluster-role: hub-of-hubs
