---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-local-storage
  annotations:
    # An ArgoCD Sync Wave will sync these namespaces before any other resources in the Application's context.
    argocd.argoproj.io/sync-wave: "-1"
    #scheduler.alpha.kubernetes.io/defaultTolerations: '[{"operator": "Exists", "effect": "NoSchedule", "key": "node-role.kubernetes.io/infra"},{"operator": "Exists", "effect": "NoExecute", "key": "node-role.kubernetes.io/infra"}]'
